header{
	background: #666666 url(../image/hok.jpg);
	padding:73px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 15px; 
}
h1{
	text-align: center;
	font-size: 500%;
	font-family: serif;
	color: white;
	text-shadow: 3px 3px 5px #7d5132, 0 0 1em black;
}
nav a {
	text-decoration: none;
   color: #000000;
	display: inline-block;
	background-color: #FFFFFF;
	padding: 1% 8%;
	margin: 2% 0px;
	/*border-radius: 20px 20px;*/
	background: rgb(255, 255,255, 0.5);
	font-weight: bold;
	font-size: 110%;
}
nav{
	text-align: center;
}
.left {
	display: inline-block;
	clear:both;
	width: 23%;
	margin:0% 1%;
	padding:2% 1%;
	background-color:#f2cc94;
	float:left;
	border-width: 0px;
	background:linear-gradient(to right,#f2cc94,#2d150f);
	
}
.right {
	display: inline-block;
	clear:both;
	width: 70% ;
}
nav a:first-child {
border-radius: 20px 0px 0px 20px;	
}
nav a:last-child {
border-radius: 0px 20px 20px 0px;	
}
body {
	background-color:#2d150f ;text-shadow: 4px 4px 6px black, 0 0 1em black;
	/*#7d5132*/	/*#FFE4E1*//*#c9a165*/
}
h2{
	color: white;
	text-align: center;
	font-size: 200%;
	text-shadow: 4px 4px 6px black, 0 0 1em black;
}
p,ul{
	color:#f2cc94;
	font-size: 160%;
	text-shadow: 2px 2px 5px black, 0 0 1em black;
}
.left ul {
	color: #2d150f;
}
.active{
	background-color: #FFFFFF;
}
a {
	color: black;
text-decoration: none
}
p img {
	width: 35%;
	height: 30%;
	border:2px solid;
    text-align: center;
    display: inline-block;
    float:left;
    margin:5px;
}
h3{
	color: white;
	font-size: 200%;
	text-align:center;
}
h4 {
	color: white;
	font-size: 150%
}
.news p {
	font-size: 130%;

}
.news:hover {
	background-color: #56291e;
}
.nazad {
	color: #f2cc96 ;
	float:right;
}
.nom {
	background-color: red;
	opacity: 0.6
}
.pobe {
	background-color: green;
	opacity: 0.6
}
table {
 color: white;
 font-size: 120%;
 font-family: serif;
 background-color: #56291e
}
footer {
	background-color: black;
}
